.landing-page-child {
  position: absolute;
  top: 267.9px;
  left: 763px;
  border-radius: 50%;
  background-color: var(--color-lightgoldenrodyellow);
  width: 246.7px;
  height: 339.9px;
  transform: rotate(26.34deg);
  transform-origin: 0 0;
}
.ellipse-div,
.landing-page-child1,
.landing-page-child2,
.landing-page-child3,
.landing-page-child4,
.landing-page-child5,
.landing-page-child6,
.landing-page-child7,
.landing-page-inner,
.landing-page-item {
  position: absolute;
  top: 1094px;
  left: 646.5px;
  border-radius: 50%;
  background-color: var(--color-lightgoldenrodyellow);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 36.7px;
  height: 50.6px;
  transform: rotate(26.34deg);
  transform-origin: 0 0;
}
.ellipse-div,
.landing-page-child1,
.landing-page-child2,
.landing-page-child3,
.landing-page-child4,
.landing-page-child5,
.landing-page-child6,
.landing-page-child7,
.landing-page-inner {
  top: 4519px;
  left: 622.5px;
}
.ellipse-div,
.landing-page-child1,
.landing-page-child2,
.landing-page-child3,
.landing-page-child4,
.landing-page-child5,
.landing-page-child6,
.landing-page-child7 {
  top: 2305px;
  left: 1061.1px;
  width: 24.9px;
  height: 34.3px;
}
.landing-page-child1,
.landing-page-child2,
.landing-page-child3,
.landing-page-child4,
.landing-page-child5,
.landing-page-child6,
.landing-page-child7 {
  top: 3067px;
}
.landing-page-child2,
.landing-page-child3,
.landing-page-child4,
.landing-page-child5,
.landing-page-child6,
.landing-page-child7 {
  top: 3764px;
}
.landing-page-child3,
.landing-page-child4,
.landing-page-child5,
.landing-page-child6,
.landing-page-child7 {
  top: 1094px;
  left: 1081.5px;
  background-color: var(--color-lightcyan);
  width: 36.7px;
  height: 50.6px;
}
.landing-page-child4,
.landing-page-child5,
.landing-page-child6,
.landing-page-child7 {
  top: 4519px;
  left: 983.5px;
}
.landing-page-child5,
.landing-page-child6,
.landing-page-child7 {
  top: 2305px;
  left: 1097.7px;
  width: 24.9px;
  height: 34.3px;
}
.landing-page-child6,
.landing-page-child7 {
  top: 3067px;
}
.landing-page-child7 {
  top: 3764px;
}
.landing-page-child10,
.landing-page-child11,
.landing-page-child12,
.landing-page-child13,
.landing-page-child14,
.landing-page-child15,
.landing-page-child8,
.landing-page-child9 {
  position: absolute;
  top: 1094px;
  left: 233.5px;
  border-radius: 50%;
  background-color: var(--color-thistle);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 36.7px;
  height: 50.6px;
  transform: rotate(26.34deg);
  transform-origin: 0 0;
}
.landing-page-child10,
.landing-page-child11,
.landing-page-child12,
.landing-page-child13,
.landing-page-child14,
.landing-page-child15,
.landing-page-child9 {
  top: 4519px;
}
.landing-page-child10,
.landing-page-child11,
.landing-page-child12,
.landing-page-child13,
.landing-page-child14,
.landing-page-child15 {
  top: 2305px;
  left: 1027.2px;
  width: 24.9px;
  height: 34.3px;
}
.landing-page-child11,
.landing-page-child12,
.landing-page-child13,
.landing-page-child14,
.landing-page-child15 {
  top: 3067px;
}
.landing-page-child12,
.landing-page-child13,
.landing-page-child14,
.landing-page-child15 {
  top: 3764px;
}
.landing-page-child13,
.landing-page-child14,
.landing-page-child15 {
  top: 2004px;
  left: 1195px;
  width: 123px;
  height: 169px;
  transform: rotate(90deg);
}
.landing-page-child14,
.landing-page-child15 {
  top: 2748px;
  background-color: var(--color-lightcyan);
}
.landing-page-child15 {
  top: 3445px;
  background-color: var(--color-lightgoldenrodyellow);
}
.about-majhi-metro-banner-1-icon,
.group-icon {
  position: absolute;
  top: 2737px;
  left: 1038px;
  width: 134px;
  height: 146px;
  object-fit: cover;
}
.group-icon {
  top: 217px;
  left: 546px;
  width: 394.5px;
  height: 434.5px;
}
.landing-page-child16,
.landing-page-child17,
.landing-page-child18,
.line-div {
  position: absolute;
  top: 474.5px;
  left: 337.5px;
  border-top: 1px dashed var(--color-black);
  box-sizing: border-box;
  width: 280px;
  height: 1px;
}
.landing-page-child16,
.landing-page-child17,
.landing-page-child18 {
  top: 1007.5px;
  left: 220.5px;
  width: 311px;
}
.landing-page-child17,
.landing-page-child18 {
  top: 1784.5px;
}
.landing-page-child18 {
  top: 4364.5px;
}
.landing-page-child19,
.landing-page-child20,
.landing-page-child21,
.landing-page-child22,
.landing-page-child23 {
  position: absolute;
  top: 2341.5px;
  left: 894.5px;
  border-top: 1px dashed var(--color-black);
  box-sizing: border-box;
  width: 118px;
  height: 1px;
}
.landing-page-child20,
.landing-page-child21,
.landing-page-child22,
.landing-page-child23 {
  top: 3103.5px;
}
.landing-page-child21,
.landing-page-child22,
.landing-page-child23 {
  top: 3800.5px;
}
.landing-page-child22,
.landing-page-child23 {
  top: 837.5px;
  left: 86.5px;
  width: 220px;
}
.landing-page-child23 {
  top: 4129.5px;
}
.line-icon {
  position: absolute;
  top: 532px;
  left: 907px;
  width: 413px;
  height: 1px;
  object-fit: cover;
}
.communication,
.design {
  margin: 0;
  font-weight: 700;
  font-family: inherit;
}
.design {
  position: absolute;
  top: 395px;
  left: 285px;
  font-size: var(--main-title-size);
  display: inline-block;
  width: 313px;
  height: 48px;
}
.communication {
  top: 354px;
  left: 175px;
  font-size: var(--h2-light-size);
  width: 423px;
  height: 37px;
}
.communication,
.projects,
.workflow {
  position: absolute;
  display: inline-block;
}
.workflow {
  margin: 0;
  top: 938px;
  left: 376px;
  font-size: var(--h2-light-size);
  font-weight: 700;
  font-family: inherit;
  width: 207px;
  height: 37px;
}
.projects {
  top: 1715px;
  left: 372px;
  width: 176px;
  height: 35px;
}
.contact,
.design1,
.projects {
  font-size: var(--h2-light-size);
}
.contact {
  position: absolute;
  top: 4295px;
  left: 221px;
  display: inline-block;
  width: 176px;
  height: 35px;
}
.design1 {
  margin: 0;
  top: 936px;
  left: 211px;
  font-weight: 400;
  font-family: inherit;
  width: 144px;
  height: 37px;
}
.design1,
.design2,
.ideation {
  position: absolute;
  display: inline-block;
}
.design2 {
  top: 1713px;
  left: 211px;
  font-size: var(--h2-light-size);
  width: 144px;
  height: 37px;
}
.ideation {
  margin: 0;
  top: 1106px;
  left: 271px;
  font-weight: 400;
  font-family: inherit;
  width: 105px;
}
.email-id,
.ideation,
.workflow1,
.workflow2 {
  font-size: var(--font-size-6xl);
  height: 37px;
}
.email-id {
  position: absolute;
  top: 4531px;
  left: 271px;
  display: inline-block;
  width: 114px;
}
.workflow1,
.workflow2 {
  text-decoration: none;
  left: 885px;
  color: inherit;
  width: 127px;
  cursor: pointer;
}
.workflow1 {
  position: absolute;
  top: 2310px;
  display: inline-block;
}
.workflow2 {
  top: 3072px;
}
.process-work,
.workflow2,
.workflow3 {
  position: absolute;
  display: inline-block;
}
.workflow3 {
  text-decoration: none;
  top: 3769px;
  left: 885px;
  font-size: var(--font-size-6xl);
  color: inherit;
  width: 127px;
  height: 37px;
  cursor: pointer;
}
.process-work {
  margin: 0;
  top: 1106px;
  left: 679px;
  font-weight: 400;
  font-family: inherit;
  width: 178px;
}
.final-design,
.linkedin,
.process-work {
  font-size: var(--font-size-6xl);
  height: 37px;
}
.linkedin {
  position: absolute;
  top: 4531px;
  left: 660px;
  display: inline-block;
  width: 132px;
}
.final-design {
  margin: 0;
  top: 1106px;
  left: 1114px;
  font-weight: 400;
  font-family: inherit;
  width: 158px;
}
.behance-link,
.final-design,
.hi-i-am {
  position: absolute;
  display: inline-block;
}
.behance-link {
  top: 4531px;
  left: 1038px;
  font-size: var(--font-size-6xl);
  width: 172px;
  height: 37px;
}
.hi-i-am {
  margin: 0;
  top: 461px;
  left: 949px;
  font-weight: 300;
  text-align: left;
  width: 386px;
  height: 54px;
}
.landing-page-child24,
.rectangle-div,
.rectangle-section {
  position: absolute;
  top: 783px;
  left: -16px;
  background-color: var(--color-lightcyan);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 1559px;
  height: 89px;
}
.landing-page-child24,
.rectangle-div {
  top: 4075px;
  background-color: var(--color-thistle);
}
.landing-page-child24 {
  top: 1476px;
  left: 0;
  background-color: var(--color-lightgoldenrodyellow);
  width: 1543px;
}
.me-in-a,
.me-in-a1,
.me-in-a2 {
  position: absolute;
  left: 475px;
  display: inline-block;
  text-align: left;
  width: 135px;
  height: 18px;
}
.me-in-a {
  margin: 0;
  top: 813px;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
}
.me-in-a1,
.me-in-a2 {
  top: 4105px;
}
.me-in-a2 {
  top: 1506px;
}
.i-crafted-an,
.i-love-to,
.lets-team-up,
.samdadiajineshagmailcom {
  position: absolute;
  left: 611px;
  font-weight: 300;
  text-align: center;
  display: inline-block;
  height: 36px;
}
.i-crafted-an {
  margin: 0;
  top: 814px;
  width: 439px;
}
.i-love-to,
.lets-team-up,
.samdadiajineshagmailcom {
  top: 4106px;
  width: 459px;
}
.lets-team-up,
.samdadiajineshagmailcom {
  top: 4389px;
  left: 215px;
  text-align: left;
  width: 577px;
}
.samdadiajineshagmailcom {
  text-decoration: none;
  top: 4581px;
  left: 264px;
  color: inherit;
  text-align: center;
  width: 234px;
}
.httpswwwbehancenetsamdad {
  text-decoration: none;
  top: 4581px;
  left: 1038px;
  color: inherit;
  width: 327px;
}
.httpswwwbehancenetsamdad,
.httpswwwlinkedincominji,
.my-creative-journey {
  position: absolute;
  font-weight: 300;
  text-align: center;
  display: inline-block;
  height: 36px;
}
.httpswwwlinkedincominji {
  text-decoration: none;
  top: 4581px;
  left: 660px;
  color: inherit;
  width: 231px;
}
.my-creative-journey {
  margin: 0;
  top: 1507px;
  left: 611px;
  width: 439px;
}
.i-engage-in,
.the-end-product,
.the-theme-for,
.the-theme-for1,
.you-bae-a {
  position: absolute;
  top: 2211px;
  left: 891px;
  font-weight: 300;
  text-align: left;
  display: inline-block;
  width: 439px;
  height: 54px;
}
.i-engage-in,
.the-end-product,
.the-theme-for,
.the-theme-for1 {
  top: 2955px;
  height: 90px;
}
.i-engage-in,
.the-end-product,
.the-theme-for1 {
  top: 3652px;
}
.i-engage-in,
.the-end-product {
  margin: 0;
  top: 1177px;
  left: 219px;
  width: 255px;
  height: 112px;
}
.the-end-product {
  left: 1076px;
  width: 274px;
}
.secondary-research {
  margin-bottom: 0;
}
.secondary-research-primary-res {
  margin: 0;
  padding-left: var(--padding-xl);
}
.secondary-research-primary-container {
  position: absolute;
  top: 1177px;
  left: 646px;
  font-size: var(--font-inherit);
  font-weight: 300;
  font-family: var(--font-inherit);
  text-align: left;
  display: inline-block;
  width: 274px;
  height: 112px;
}
.group-child {
  background-color: var(--color-thistle);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
}
.group-child,
.group-header,
.rectangle-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 1559px;
  height: 71px;
}
.group-header {
  top: 55px;
  left: -16px;
}
.about,
.contact1,
.projects1 {
  position: absolute;
  top: 81px;
  font-weight: 300;
  text-align: left;
  display: inline-block;
  height: 18px;
  cursor: pointer;
}
.about {
  left: 152px;
  width: 57px;
}
.contact1,
.projects1 {
  width: 70px;
}
.projects1 {
  text-decoration: none;
  left: 244px;
  color: inherit;
}
.contact1 {
  left: 349px;
}
.landing-page-child25,
.landing-page-child26,
.landing-page-child27 {
  position: absolute;
  top: 804px;
  left: 437px;
  width: 28px;
  height: 33px;
}
.landing-page-child26,
.landing-page-child27 {
  top: 4096px;
}
.landing-page-child27 {
  top: 1497px;
}
.whatsapp-image-2023-04-22-at-5 {
  text-decoration: none;
  position: absolute;
  top: 2570px;
  left: 0;
  width: 700px;
  height: 700px;
  background-image: url(./public/whatsappimage20230422at5532@2x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  cursor: pointer;
}
.logo-1-icon {
  position: absolute;
  top: 2023px;
  left: 1046px;
  width: 119px;
  height: 86px;
  object-fit: cover;
}
.group-item {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-sm);
  background-color: var(--color-white);
  width: 81px;
  height: 81px;
}
.vector-icon {
  position: absolute;
  height: 48.27%;
  width: 49.38%;
  top: 13.58%;
  right: 12.35%;
  bottom: 38.15%;
  left: 38.27%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.pink-final-1,
.rectangle-parent {
  position: absolute;
  top: 3466px;
  left: 1070px;
  width: 81px;
  height: 81px;
}
.pink-final-1 {
  text-decoration: none;
  top: 1873px;
  left: 0;
  width: 697px;
  height: 697px;
  background-image: url(./public/pinkfinal1@2x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  cursor: pointer;
}
.whatsapp-image-2023-04-22-at-51 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-white);
  border: 10px solid var(--color-lightgoldenrodyellow);
  box-sizing: border-box;
  width: 700px;
  height: 700px;
  cursor: pointer;
}
.screenshot-2023-11-30-114205-1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 329px;
  height: 628px;
  object-fit: cover;
}
.screenshot-2023-11-30-114205-1-wrapper {
  position: absolute;
  top: 36px;
  left: 184px;
  width: 329px;
  height: 628px;
}
.whatsapp-image-2023-04-22-at-5-parent {
  text-decoration: none;
  position: absolute;
  top: 3270px;
  left: 0;
  width: 700px;
  height: 700px;
}
.landing-page {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 4977px;
  overflow: hidden;
  text-align: right;
  font-size: var(--body-text-size);
  color: var(--color-black);
  font-family: var(--body-text);
}
