.project-majhi-metro-child {
  position: absolute;
  top: 1058.5px;
  left: 220.5px;
  border-top: 1px dashed var(--color-black);
  box-sizing: border-box;
  width: 311px;
  height: 1px;
}
.design4,
.project-brief1,
.workflow5 {
  position: absolute;
  top: 989px;
  left: 376px;
  font-size: var(--h2-light-size);
  display: inline-block;
  text-align: right;
  width: 207px;
  height: 37px;
}
.design4,
.project-brief1 {
  top: 987px;
  left: 211px;
  width: 144px;
}
.project-brief1 {
  top: 1143px;
  left: 221px;
  font-size: var(--font-size-6xl);
  width: 160px;
}
.project-majhi-metro-inner,
.project-majhi-metro-item {
  position: absolute;
  top: 773px;
  left: -16px;
  background-color: var(--color-lightcyan);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 1559px;
  height: 89px;
}
.project-majhi-metro-inner {
  top: 4454px;
  left: 0;
  background-color: var(--color-lightgoldenrodyellow);
  width: 1543px;
}
.me-in-a5,
.me-in-a6 {
  position: absolute;
  top: 804px;
  left: 325px;
  display: inline-block;
  width: 135px;
  height: 18px;
}
.me-in-a6 {
  top: 4484px;
  left: 475px;
}
.i-was-in {
  top: 807px;
  left: 460px;
  text-align: center;
  width: 742px;
  height: 36px;
}
.i-was-in,
.one-of-my,
.the-theme-for2 {
  position: absolute;
  font-weight: 300;
  display: inline-block;
}
.one-of-my {
  top: 4485px;
  left: 627px;
  text-align: center;
  width: 561px;
  height: 36px;
}
.the-theme-for2 {
  top: 1235px;
  left: 221px;
  width: 266px;
  height: 149px;
}
.decal-design-should {
  margin: 0;
}
.decal-design-should-container {
  position: absolute;
  top: 1235px;
  left: 602px;
  font-weight: 300;
  display: inline-block;
  width: 255px;
  height: 112px;
}
.project-majhi-metro-child1,
.project-majhi-metro-child2 {
  position: absolute;
  top: 795px;
  left: 287px;
  width: 28px;
  height: 33px;
}
.project-majhi-metro-child2 {
  top: 4475px;
  left: 437px;
}
.project-majhi-metro-child3 {
  position: absolute;
  top: 1233.5px;
  left: 538.5px;
  border-right: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 1px;
  height: 115px;
}
.project-majhi-metro-child4 {
  position: absolute;
  top: 1673px;
  left: 1100.5px;
  border-radius: 50%;
  background-color: var(--color-thistle);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 36.7px;
  height: 50.6px;
  transform: rotate(26.34deg);
  transform-origin: 0 0;
}
.i-wanted-to-container,
.ideation2 {
  position: absolute;
  display: inline-block;
}
.ideation2 {
  top: 1685px;
  left: 1138px;
  font-size: var(--font-size-6xl);
  text-align: right;
  width: 105px;
  height: 37px;
}
.i-wanted-to-container {
  top: 1756px;
  left: 1086px;
  font-weight: 300;
  width: 338px;
  height: 198px;
}
.blue-professional-extensive-mi {
  position: absolute;
  top: 1563px;
  left: 64px;
  width: 891px;
  height: 501px;
  object-fit: cover;
}
.project-majhi-metro-child5 {
  position: absolute;
  top: 2435px;
  left: 1100.5px;
  border-radius: 50%;
  background-color: var(--color-lightgoldenrodyellow);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 36.7px;
  height: 50.6px;
  transform: rotate(26.34deg);
  transform-origin: 0 0;
}
.process-work2 {
  position: absolute;
  top: 2447px;
  left: 1133px;
  font-size: var(--font-size-6xl);
  text-align: right;
  display: inline-block;
  width: 178px;
  height: 37px;
}
.secondary-research-about {
  margin-bottom: 0;
}
.secondary-research-about-how-d {
  margin: 0;
  padding-left: var(--padding-xl);
}
.secondary-research-about-container {
  position: absolute;
  top: 2518px;
  left: 1085px;
  font-size: var(--font-inherit);
  font-weight: 300;
  font-family: var(--font-inherit);
  display: inline-block;
  width: 274px;
  height: 144px;
}
.project-majhi-metro-child6,
.project-majhi-metro-child7,
.project-majhi-metro-child8 {
  position: absolute;
  top: 1446.5px;
  left: -0.5px;
  border-top: 1px dashed var(--color-black);
  box-sizing: border-box;
  width: 1531px;
  height: 1px;
}
.project-majhi-metro-child7,
.project-majhi-metro-child8 {
  top: 2163.5px;
}
.project-majhi-metro-child8 {
  top: 3297.5px;
}
.project-majhi-metro-child9 {
  position: absolute;
  top: 3489px;
  left: 1107.5px;
  border-radius: 50%;
  background-color: var(--color-lightcyan);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 36.7px;
  height: 50.6px;
  transform: rotate(26.34deg);
  transform-origin: 0 0;
}
.final-design2 {
  position: absolute;
  top: 3501px;
  left: 1140px;
  font-size: var(--font-size-6xl);
  text-align: right;
  display: inline-block;
  width: 158px;
  height: 37px;
}
.helping-each-other-container1,
.i-wanted-to2 {
  position: absolute;
  top: 3588px;
  left: 1208px;
  font-weight: 300;
  display: inline-block;
  width: 274px;
  height: 234px;
}
.helping-each-other-container1 {
  left: 912px;
}
.whatsapp-image-2023-04-22-at-52 {
  position: absolute;
  top: 201px;
  left: 494px;
  width: 542px;
  height: 542px;
  object-fit: cover;
}
.design-5-1-1,
.train-dimensions-01-1,
.whatsapp-image-2023-04-22-at-53 {
  position: absolute;
  top: 3409px;
  left: 103px;
  width: 640px;
  height: 521px;
  object-fit: cover;
}
.design-5-1-1,
.train-dimensions-01-1 {
  top: 2918px;
  width: 1360px;
  height: 139px;
}
.train-dimensions-01-1 {
  top: 4277px;
  left: 68px;
  width: 1392px;
  height: 140px;
}
.design-2-1-1,
.train-dimensions-01-2 {
  position: absolute;
  top: 3997px;
  left: 92px;
  width: 1360px;
  height: 241px;
  object-fit: cover;
}
.design-2-1-1 {
  top: 3110px;
  left: 88px;
  width: 1385px;
  height: 140px;
}
.whatsapp-image-2023-11-28-at-1,
.whatsapp-image-2023-11-28-at-11 {
  position: absolute;
  top: 2271px;
  left: 124px;
  width: 549px;
  height: 357px;
  object-fit: cover;
}
.whatsapp-image-2023-11-28-at-11 {
  top: 2656px;
  width: 911px;
  height: 192px;
}
.group-child3 {
  position: absolute;
  top: 19px;
  left: 0;
  background-color: var(--color-thistle);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 1559px;
  height: 89px;
}
.about-majhi-metro-banner-1-icon1 {
  position: absolute;
  top: 0;
  left: 705px;
  width: 126px;
  height: 137px;
  object-fit: cover;
}
.rectangle-parent1 {
  position: absolute;
  top: 28px;
  left: -16px;
  width: 1559px;
  height: 137px;
}
.project-majhi-metro-child10 {
  position: absolute;
  top: 75.6px;
  left: 220.1px;
  width: 29.2px;
  height: 40.8px;
  cursor: pointer;
}
.project-majhi-metro {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 4800px;
  overflow: hidden;
  text-align: left;
  font-size: var(--body-text-size);
  color: var(--color-black);
  font-family: var(--body-text);
}
